## Function and object method calls
•	You call functions using parentheses and passing zero or more arguments, optionally assigning the returned value to a variable:
result = f(x, y, z) g()

-Almost every object in Python has attached functions, known as methods, that have access to the object’s internal contents. You can call them using the following syntax:
obj.some_method(x, y, z)

•Functions can take both positional and keyword arguments:
result = f(a, b, c, d=5, e="foo")

In [ ]:
#object is an instance of a particular type using isinstance function
a  = 3
b = '2'
isinstance( a, int)
isinstance( b, (int, str)) # can accept tuple of types

## Dynamic referencing

Variables in Python have no inherent type associated with them;
a variable can refer to a different type of object simply by doing an assignment. 

A = 5 #int
A = ‘fo’ #string 

"5" + 5
TypeError: can only concatenate str (not "int") to str ********

Implicit conversions occur only in certain circumstances like a= 4.5, b= 2 a/b  2.25

## Duck Typing

you may not care about the type of an object but rather only whether it has certain methods or behavior. This is sometimes called duck typing

like checking if it is iterable

In [10]:
# Way of duck typing
#Often you may not care about the type of an object but rather only whether it has certain methods or behavior.
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False
    
isiterable(2) 
isiterable((3,4))

False

## Imports

module is simply a file .py extension

In [14]:
# x_module.py - assume this as a file
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

In [15]:
# to access variables and functions in this file x_.pymodule.py
import x_module
result = x_module.f(5)
pi = x_module.pi

ModuleNotFoundError: No module named 'x_module'

In [ ]:
#alternate way to above
from x_module import g, pi
result = g(5,pi)

## as key word to give variables names

import x_module as s
from x_module import pi as p , g as gg
x = s.f(p)
y = gg(6,pi)

## Binary operators and comparision

a + b	Add a and b

a - b	Subtract b from a

a * b	Multiply a by b

a / b	Divide a by b

##### a // b	Floor-divide a by b, dropping any fractional remainder

a ** b	Raise a to the b power

a & b	True if both a and b are True; for integers, take the bitwise AND

a | b	True if either a or b is True; for integers, take the bitwise OR

##### a ^ b	For Booleans, True if a or b is True, but not both; for integers, take the bitwise EXCLUSIVE-OR

a == b	True if a equals b

a != b	True if a is not equal to b

a < b, a <= b	True if a is less than (less than or equal to) b

a > b, a >= b	True if a is greater than (greater than or equal to) b

a is b	True if a and b reference the same Python object ****

a is not b	True if a and b reference different Python objects

In [23]:
#  To check if two variables refer to the same object ,use the is keyword. ********
# Use is not to check that two objects are not the same: 

a = [1,2]
b = a
a is b

True

In [20]:
c = list(a)

In [21]:
a == c

True

In [22]:
a is c

False

## Mutable and immutable objects

Many objects in Python, such as lists, dictionaries, NumPy arrays, and most user-defined types (classes), are mutable. This means that the object or values that they contain can be modified

like strings and tuples, are immutable, which means their internal data cannot be changed:

just because you can mutate an object does not mean that you always should. Such actions are known as side effects. For example, when writing a function, any side effects should be explicitly communicated to the user in the function’s documentation or comments.

In [26]:
a = [1,3.4]
a[1] = 2
a

[1, 2]

In [27]:
a = (1,2,3)
a[1] = 2

TypeError: 'tuple' object does not support item assignment

## Scalar Types

small set of built-in types for handling numerical data, strings, Boolean (True or False) values, and dates and time

Type	Description

None	:   The Python “null” value (only one instance of the None object exists)

str     : 	String type; holds Unicode strings

bytes	:   Raw binary data

float	 :  Double-precision floating-point number (note there is no separate double type)

bool	:  A Boolean True or False value

int	Arbitrary precision integer

## Numeric types

The primary Python types for numbers are int and float. An int can store arbitrarily large numbers ***

Floating-point numbers are represented with the Python float type.

Under the hood, each one is a double-precision value. They can also be expressed with scientific notation ***

Integer division not resulting in a whole number will always yield a floating-point number:

To get C-style integer division (which drops the fractional part if the result is not a whole number), use the floor division operator //

In [28]:
val = 444444444444444444444
val ** 20

90437726838166281922196740713592402548216572647633511909322851785860063998815636692861725909885786788049893143072672407478963546192856048432945070088207081068113600339902414512027424828662683933794665123496901421411630827377222985616434164439959056092372120714914097541844405526650725606616859757115307400863254604223778840147785213068046945145772542185550275692858251996386532941702252492213594791317969070718976

In [29]:
fval = 5.6666
fval = 6.78e-7 #scientific ***

In [32]:
6/2  #int divison will yield float

3.0

In [33]:
6//2 # to drop fraction part use floor

3

## Strings

string literals using either single quotes ' or double quotes " (double quotes are generally favored)

For multiline strings with line breaks, you can use triple quotes, either ''' or """

Strings are immutable ***

In [34]:
a = 'one way'
b = " another"
c = """ 
longer 
string
multiple lines
"""
print(c)

longer
string
multiple lines

In [35]:
c.count("\n")

4

In [36]:
## to modify a string , we need to create a function or a method like replace ***

a = " this is string"
b = a.replace("string", "longer string")
b

' this is longer string'

In [38]:
## converting python objects to strings 
a = 5.6
s = str(a)
print(s)

5.6

In [39]:
## Strings are a sequence of Unicode characters and therefore can be treated like other sequences

s= "python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [40]:
## slicing
s[:3]

'pyt'

In [43]:
## back slash escape cahracter
## used to specify special characters like newline \n or Unicode characters.

s = "123\\3"
print(s)

123\3

In [47]:
## trick when lot of backslashes, preface the leading quote of the string with r
## r stands for raw ***
s = r"this\has\no\special\characters"
s
print(s)

this\has\no\special\characters

In [49]:
#concatenate
a = 'play '
b = 'soft'
a + b

'play soft'

### String formating

String objects have a format method that can be used to substitute formatted arguments into the string, producing a new string

In [53]:
template = "{0:.2f} {1:s} are worth US${2:d}"
# 0:.2f - format the first argument as a floating-point number with two decimal places.
# 1:s format the second argument as a string.
# format the third argument as an exact integer.

In [57]:
template.format(88.89888, "Agg my list ", 11)

'88.90 Agg my list  are worth US$11'

In [58]:
## new feature called f-strings (short for formatted string literals) which can make creating formatted strings even more convenient.

amount = 10
rate = 88.3
currency = 'play'
result = f"{amount} {currency} is worth US${amount/rate}" #***

In [59]:
result

'10 play is worth US$0.11325028312570781'

In [60]:
## unicodes
val = "play"
val.encode("utf-8")

b'play'

### Booleans

In [61]:
True and True

True

In [62]:
int(False)

0

In [64]:
a = False
b = not a
b

True

## Type casting

In [67]:
s = "3.144"
float(s)

3.144

In [69]:
s= float(s)
int(s)

3

In [70]:
s= '3'
int(s)

3

In [71]:
s = "3.144" 
int(s) ##*** invalid

ValueError: invalid literal for int() with base 10: '3.144'

In [72]:
bool(0)

False

In [73]:
bool(s)

True

## None

None is the Python null value type

None is also a common default value for function arguments


## Dates and times

The built-in Python datetime module provides datetime, date, and time types. 

The datetime type combines the information stored in date and time and is the most commonly used:

In [74]:
from datetime import datetime, date, time
dt = datetime(2021, 10, 29, 20, 30 ,55)
dt

datetime.datetime(2021, 10, 29, 20, 30, 55)

In [78]:
dt.year
dt.month
dt.day
dt.minute

30

In [79]:
## to extract date and time
dt.date()

datetime.date(2021, 10, 29)

In [80]:
dt.time()

datetime.time(20, 30, 55)

In [83]:
## formats datetime as string using strftime method

dt.strftime("%Y-%m-%d %H:%M") #****

'2021-10-29 20:30'

In [84]:
## Strings can be converted (parsed) into datetime objects with the strptime function:

datetime.strptime("20201001", "%Y%m%d") #******

datetime.datetime(2020, 10, 1, 0, 0)

In [86]:
## datetime.datetime is immutable
## so in below code dt is not modified by replace
dt_h = dt.replace(minute=0, second =0)
dt_h

datetime.datetime(2021, 10, 29, 20, 0)

In [87]:
dt

datetime.datetime(2021, 10, 29, 20, 30, 55)

In [88]:
## difference of two datetime objects produces a datetime.timedelta type:

In [90]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 -dt
delta

datetime.timedelta(days=-3636, seconds=7145)

In [92]:
## Adding a timedelta to a datetime produces a new shifted datetime:
dt3 = delta + dt
dt3

datetime.datetime(2011, 11, 15, 22, 30)

## Control Flow

### IF

In [95]:
x =2
if x<6:
    print("IT's negative")

IT's negative

In [106]:
if x<0:
    print("hh")
elif x ==0:
    print("play")
elif x<5:
    print("pp")
else:
    print("positive")

TypeError: '<' not supported between instances of 'list' and 'int'

### for

In [110]:
x = [1, 2, None, 3, 4, None]
total = 0
for value in x:
    if value is None:
        continue  #dvance a for loop to the next iteration , skipping reminder
    print(value)
    total += value

1
2
3
4

In [105]:
x = [1, 2, None, 3, 4, None]
total = 0
for value in x:
    if value is None:
        break  # for loop can be exited altogether with the break keyword
    print(value)
    total += value

1
2

##### break keyword only terminates 
the innermost for loop; any outer for loops will continue to run

## While

A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or
the loop is explicitly ended with break:

In [112]:
x = 34
total = 0
while x>0:
    if x > 100:
        break
    total += x
    x = 1.5*x
    print(total, x)

34 51.0
85.0 76.5
161.5 114.75

## Pass
pass is the “no-op” (or "do nothing") statement in Python. 
It can be used in blocks where no action is to be taken (or as a placeholder for code not yet implemented); 
it is required only because Python uses whitespace to delimit blocks:

In [113]:
if x < 0:
    print('neg')
elif x ==0:
    pass
else:
    print('positive')

positive

## Range
generates a sequence of evenly spaced integers
range produces integers up to but not including the endpoint. A common use of range is for iterating through sequences by index

In [114]:
range(10)

range(0, 10)

In [115]:
list(range(10)) # say list ****

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [119]:
list(range(2,5,-1))

[]